body {
    background-image: url("../images/mlb-background.jpg");
};

#gameBanner {
    font-size: 64px;
    color: #424344;
};

.container {
    background-color: coral;
};  

.form-check-label {
    display: inline;
};